@import '../variables.scss';

@mixin curve-transform($deg, $top, $left) {
  top: $top;
  left: $left;
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
}
.program-benefit-section {
  .content {
    .content-list {
      .curve-right-arrow {
        position: absolute;
        margin: 0 auto;
        width: 70px;
        right: -70px;
        top: 90px;
      }
      .curve-right-arrow .right-curve {
        border-top: 2px dashed $profile-nav-tab-inactive;
        border-right: 2px dashed $profile-nav-tab-inactive;
        border-bottom: 2px dashed $profile-nav-tab-inactive;
        height: 140px;
        width: 100%;
        border-radius: 0px 100px 100px 1px;
        content: ' ';
      }
      .curve-right-arrow .right-point {
        position: absolute;
        left: 72px;
        top: 67px;
      }
      .curve-right-arrow .right-point:before, .curve-right-arrow .right-point:after {
        border: 1px solid $profile-nav-tab-inactive;
        height: 12px;
        content: "";
        position: absolute;
      }
      .curve-right-arrow .right-point:before {
        @include curve-transform(-50deg, -12px, -9px);
      }
      .curve-right-arrow .right-point:after {
        @include curve-transform(35deg, -14px, -1px);
      }
      .curve-left-arrow {
        position: absolute;
        margin: 0 auto;
        width: 70px;
        left: -70px;
        top: 90px;
      }
      .curve-left-arrow .left-curve {
        border-top: 2px dashed $profile-nav-tab-inactive;
        border-left: 2px dashed $profile-nav-tab-inactive;
        border-bottom: 2px dashed $profile-nav-tab-inactive;
        min-height: 140px;
        max-height: 180px;
        width: 100%;
        border-radius: 100px 1px 0px 100px;
        content: ' ';
      }
      .curve-left-arrow .left-point {
        position: absolute;
        left: 3px;
        top: 67px;
      }
      .curve-left-arrow .left-point:before, .curve-left-arrow .left-point:after {
        border: 1px solid $profile-nav-tab-inactive;
        height: 12px;
        content: "";
        position: absolute;
      }
      .curve-left-arrow .left-point:before {
        @include curve-transform(-35deg, -12px, -7px);
      }
      .curve-left-arrow .left-point:after {
        @include curve-transform(35deg, -12px, 1px);
      }
      .line {
        border: 1px dashed $profile-nav-tab-inactive;
        height: 2px;
        width: 50px;
        position: absolute;
        right: -50px;
        top: 80px;
      }
      .point-right-arrow {
        position: absolute;
        right: -20px;
        top: 80px;
      }
      .point-right-arrow:before, .point-right-arrow:after {
        border: 1px solid $profile-nav-tab-inactive;
        height: 12px;
        content: "";
        position: absolute;
      }
      .point-right-arrow:before {
        @include curve-transform(-50deg, -9px, 5px);
      }
      .point-right-arrow:after {
        @include curve-transform(50deg, -1px, 5px);
      }
      .point-left-arrow {
        position: absolute;
        right: -20px;
        top: 80px;
      }
      .point-left-arrow:before, .point-left-arrow:after {
        border: 1px solid $profile-nav-tab-inactive;
        height: 12px;
        content: "";
        position: absolute;
      }
      .point-left-arrow:before {
        @include curve-transform(40deg, -10px, 1px);
      }
      .point-left-arrow:after {
        @include curve-transform(-50deg, -1px, 1px);
      }
    }
  }
}

@media screen and (max-width: 1198px) {
  .program-benefit-section {
    .content {
      .content-list {
        .line {
          border: 1px dashed $profile-nav-tab-inactive;
          height: 50px;
          width: 2px;
          position: absolute;
          right: 50%;
          top: 135px;
        }
        .point-right-arrow, .point-left-arrow {
          position: absolute;
          right: 50%;
          top: 80px;
        }
        .point-right-arrow:before, .point-left-arrow:before {
          @include curve-transform(40deg, 65px, 2px);
        }
        .point-right-arrow:after, .point-left-arrow:after {
          @include curve-transform(-40deg, 65px, -6px);
        }
      }
    }
  }
}