@import '../variables.scss';

.assesment-icon {
  height: 95px;
}
.profile-section {
  width: 100%;
  height: 100%;
  .header {
    font-size: 50px,
  }
  .profile-detail {
    padding-top: 45px;
    .width {
      max-width: 700px;
      min-width: 285px;
      &.profile-score-width {
        max-width: 340px;
      }
    }
    .heading {
      color: $thin-black;
      font-size: 22px;
    }
    .common-header-text {
      font-size: 18px;
      color: $primary-text-color;
      @extend %textStyles;
      &.font-weight-500 {
        font-weight: 500;
      }
    }
    .common-header-text:first-letter {
      text-transform: uppercase;
    }
    .font-size-15 {
      font-size: 15px;
    }
    .font-size-14 {
      font-size: 14px;
    }
    .font-size-17 {
      font-size: 17px;
    }
    .common-content-text {
      color: $profile-content-font;
      @extend %textStyles;
    }
    .common-content-text:first-letter {
      text-transform:capitalize;
    }
    .profile-common-container {
      border-radius: 4px;
      background-color: $white;
      border: solid 1px $border-color;
      margin-bottom: 10px;
      .heading {
        color: $review-count-color;
      }
    }
    .common-link {
      color: $secondary-btn-color;
    }  
    .personal-detail {
      .border-bottom {
        border-bottom: 1px solid $border-color;
      }
      .city-section {
        min-width: 50%;
      }
      .profile-image {
        width: 73px;
        height: 65px;
        border-radius: 50%;
      }
    }
    .skill-section {
      padding: 0px;
      .skil-set {
        border-radius: 16px;
        background-color: $primary-text-color;
        min-height: 32px;
        margin: 10px 5px;
      }
      .skill-set-font {
        font-size: 15px;
        color: $white;
        font-weight: normal;
        position: relative;
        top: 5px;
        margin: 15px;
      }
    }
    .experience-section {
      .image-container {
        max-width: 80px;
      }
      .experience-timeline {
        max-width: 250px;
      }
    }
    .course-section {
      .certificate-button {
        background-color: $white;
        font-size: 15px;
        color: $secondary-btn-color;
        margin-top: 7px;
        border: 1px solid $secondary-btn-color;
        max-width: 150px;
      }
    }
    .achievement-section {
      .badge-font {
        color: $profile-nav-tab-inactive;
        font-size: 14px;
        @extend %textStyles;
        text-align: center;
        text-transform: capitalize;
        white-space: normal;
        &.score {
          font-size: 24px;
        }
      }
      .badge {
        min-width: 70px;
        display: inline-grid;
      }
      .result-section {
        border-radius: 4px;
        background-color: $white;
        border: solid 1px $border-color;
        .info {
          color: $profile-content-font;
          font-size: 14px;    
          @extend %textStyles;
          &.result {
            font-style: italic;
          }      
        }
        .time-section {
          max-width: 185px;
        }
        .assessment-score {
          color: $primary-btn;
          font-size: 27px;
          font-weight: 200;
          @extend %textStyles;
        }
      }
    }
    .recommand-section {
      color: $thin-black;
      .header {
        font-size: 20px;
        @extend %textStyles;
      }
      .content {
        font-size: 15px;
        @extend %textStyles;
        line-height: 1.47;
        color: $subtle-text;
      }
      .action {
        background-color: $secondary-btn-color;
        border-radius: 4px;
        border: none;
        color: $white;
        @extend %textStyles;
        font-weight: bold;
      }
      .job-section {
        border-bottom: 1px solid $border-color;
      }
    }
    .completed-course-section{
      .completed-course-image {
        height: 50px;
        width:70px;
      }
      .course-section {
        border-bottom: 1px solid $border-color;
      }
    }
    .edit {
      float: right;
    }
    .learner-image {
      width: 70px;
    }
    .profile-score-section {
      .improvement-section {
        .profile-button {
          border-radius: 4px;
          &.success-button {            
            background-color: $primary-btn;
            border: solid 1px $primary-btn;
          }
          &.add-profile-button {
            border-radius: 4px;
            background-color: $secondary-btn-color;
            border: solid 1px $secondary-btn-color;
          }
          &.linked-in-button {
            background-color: $linkedin-btn;
            border: solid 1px $linkedin-btn;
          }
          &.facebook-button {
            background-color: $link-facebook-btn;
            border: solid 1px $link-facebook-btn;
          }
          &.gmail-button {
            background-color: $link-gmail-btn;
            border: solid 1px $link-gmail-btn;
          }
        }
        .score {
          font-size: 16px;
          font-weight: 500;
          color: $primary-text-color;
        }
        .progress {
          height: 7px;
          border-radius: 4px;
          .progress-bar {
            background-color: $primary-btn;
          }
        }
      }
    }
  }  
}

.profile-popup {
  .modal-dialog {
    max-width: 720px;
    .modal-content {
      background-color: $app-background;
    }
    .loadingOverlay {
      background: none;
    }
    .heading {
      min-height: 50px;
      border-bottom: 1px solid $profile-popup-border;
      .title {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .profile-photo-container {
      width: 160px;
      height: 160px;
      box-sizing: border-box;
      background-clip: content-box;
      border: 0 solid transparent;
      border-radius: 49.9%;
      background-color: $profile-photo-background;
      margin: auto;
      position: relative;
      box-shadow: $box-shadow;
      .dragAndDropArea {
        text-align: center;
        .uploadedImage {
          border-radius: 50%;
          height: 150px;
          width: 150px;
          margin-top: 6px;
        }
      }
    }
    .profile-form {
      .modal-body {
        overflow-y: auto;
        max-height: calc(100vh - 215px);
        min-height: 200px;
        .input-field {
          font-size: 14px;
          font-weight: bold;
          color: $subtle-text;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0; 
        }
      .profile-form-text-box, .Select-control {
          border-radius: 4px;
          border: solid 1px $border-color;
          min-height: 39px;
        }
        .sortable-skill-list {
          .actual-skill {
            min-height: 50px;
            border-bottom: 1px solid $border-color;
            background-color: $white;
            .name {
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
      }
      .modal-footer {
        border-top: 1px solid $profile-popup-border;
        .save-btn {
          background-color: $primary-btn;
          border-radius: 4px;
          border: solid 1px $primary-btn;
          font-weight: bold;
          font-size: 15px;
          min-width: 90px;
          color: $white;
        }
        .delete-btn {
          border-radius: 4px;
          border: solid 1px $error-color_1;
          background-color: $error-color_1;
          color: $white;
          font-size: 15px;
          font-weight: bold;
          min-width: 90px;
        }
      }
    }
    .intrested-categories{
      .interestedCategory {
        background-color: $white;
        padding: 15px;
        border-bottom: 1px solid $border-color;
      }
      .save-btn {
        max-width: 90px;
      }
    }
    .my-intrested-categories .category{
      border: 1px solid $border-color;
      border-radius: 4px;
      background-color: transparent;
      font-size: 15px;
      color: $subtle-text;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .profile-section {
    .profile-detail {
      .width {
        &.profile-score-width {
          max-width: 700px;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) and (min-width: 480px) {
  .profile-section {
    .profile-detail {
      padding-top: 85px;
    }
  }
}

@media screen and (max-width: 479px) {
  .profile-section {
    .profile-detail {
      padding-top: 140px;
    }
  }
}

.admin-profile-container {
  padding: 50px 75px;
  width: 100%;
  background-color: $white;
  height: 100%;
  .profile-image{
    display: inline-grid;
    img{
      height: 75px;
      border-radius: 50%;
      padding: 0;
    }
    .profile-btn{
      border-radius: 2px;
      border: 1px solid $secondary-btn-color;
      color: $secondary-btn-color;
      background-color: $white;
      padding: .5rem 1rem;
    }
  }
  .form-update-profile{
    max-width: 400px;
    margin-bottom: 25px;
    input{
      border: 1px solid $border-color;
      color: $profile-email-color;
    }
    .profile{
      input{
        display: inline-flex;
        color: $header-text-color;
      }
    }
    .update-btn{
      background-color: $primary-btn;
      color: $white;
      border-radius: 2px;
      padding: .5rem 1.5rem;
    }
  }
  .change-password{
    color: $secondary-btn-color;
    text-decoration: underline;
  }
}
