@import '../variables.scss';

.reset-password-container{
  background-color: $white;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 6px;
  input{
    border: 1px solid $border-color;
    color: $profile-password-color;
    padding: .8rem;
  }
  .title{
    color: $profile-nav-tab-inactive;
    font-size: 22px;
  }
  p{
    color: $secondary-text-color;
    margin: 15px 0px 30px 0px;
  }
  .cancel-btn{
    background-color: $white;
    border: 1px solid $secondary-btn-color;
    color: $secondary-btn-color;
    border-radius: 4px;
    padding: .5rem 1.5rem;
  }
  .invalid-credential {
    text-align: center;
    padding: 10px;
    color: $error-color;
    border: 1px solid $error-color_1;
    border-radius: 4px;
    background-color: rgba(255, 73, 72, 0.07);
  }
}